body {
	margin: 0;
	padding: 0;
	width: 100%;
}

body > header {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 72px;
	background: rgb(215, 104, 23);
}

header > nav {
	margin: 0 40px 0 0;
	float: right;
}

header > nav > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

header > nav > ul > li {
	display: inline-table;
	text-align: center;
	width: 125px;
	height: 72px;
}

header > nav > ul > li > a {
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	display: block;
	padding: 25px 0 25px 0;
	color: #FFF;
}

header > nav > ul > li > a:hover {
	background: #FFF;
	font-weight: bold;
	color: #000;
}
section {
	margin: 0;
	width: 100%;
}

h1 {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 300%;
	clear: both;
	text-transform: uppercase;
	margin-top: 0;
}

h2 {
	margin-top: 20px;
	text-align: center;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-size: 73%;
	padding: 0 12px;
}

section:nth-of-type(even) {
	background: rgba(240, 240, 240, 1);
	color: rgb(0, 0, 0);
}

.marquee {
	background-size: cover;
	background-image: url(../images/marquee-4.jpg);
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 500px;
	position: relative
}

.marquee > .overlay {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 500px;
	background: rgba(215, 104, 23, 0.5);
	position: absolute;
	z-index: 99;
}

section > div {
	margin: 0 auto;
	padding: 0;
	clear: both;
	width: 990px;
}

.programs {
	background: rgba(215, 104, 23, 1);
	padding: 0 0 20px 0;
}

.programs > div {
	display: flex;
    flex-direction: row;
    align-items: center;
	background: none;
}

.programs > header {
	clear: both;
}

.programs > div > article {
	margin: 40px 10px;
	padding: 0;
	flex-direction: column;
    justify-content: center;
    align-items: center;
	flex-grow: 1;
	width: 25%;
	min-height: 350px;
	background: rgb(189, 195, 199);
}

.programs > div > article > div {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 125px;
	clear: both;
}

.programs > div > article > .kf {
	background-size: cover;
	background-image: url(../images/kid-fitness-2.jpg);
	background-repeat: no-repeat;
	background-position: center;
}

.programs > div > article > .af {
	background-size: cover;
	background-image: url(../images/adult-fitness-1.jpg);
	background-repeat: no-repeat;
	background-position: center;
}

.programs > div > article > .sf {
	background-size: cover;
	background-image: url(../images/summer-fit.jpg);
	background-repeat: no-repeat;
	background-position: center;
}

.programs > div > article > .sp {
	background-size: cover;
	background-image: url(../images/sports-per.jpg);
	background-repeat: no-repeat;
	background-position: center;
}

.programs > div > article > p {
	padding: 0 12px;
	font-size: 95%;
	font-family: 'Roboto Slab', serif;
}

.programs > div > article > p:last-child {
	position: absolute;
}

.programs > div > article > p > a {
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 95%;
	text-decoration: none;
	color: #000;
}

.programs > div > article > p > a:hover {
	color: #0000FF;
	text-decoration: underline;
}

.about > article {
	margin: 0 auto;
	padding: 0 0 20px 0;
	clear: both;
	width: 990px;
	font-family: "Roboto Slab", serif;
}

.about > article > ul {
	list-style-type: none;
}

.about > article > ul > li::first-letter {
	font-size: 200%;
	font-weight: bold;
}

.about > article > p > a {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}

.about > article > p > a:hover {
	text-decoration: underline;
}

.contact {
	padding: 0 0 20px 0;
}

footer {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 144px;
	clear: both;
}


.logo {
	margin: 0;
	padding: 12px 0 0 40px;
	font-size: 200%;
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	float: left;
	text-transform: capitalize;
	color: #FFF;
}

.tagline {
	color: rgb(255, 255, 255);
	margin: 0;
	text-align: left;
	padding: 390px 0 0 40px;
	font-family: 'Open Sans', sans-serif;
	font-size: 400%;
	font-weight: 800;
}

.welcome {
	text-align: left;
	font-family: "Roboto Slab", sans-serif;
	text-transform: none;
	font-size: 200%;
	margin-left: -15px;
}

.welcome::first-letter {
	font-size: 200%;
}
